@{
    Layout = null;
}

<div id="content" class="dashboard">
    <div class="row">
        <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
            <img src="@ViewBag.version">
        </div>
        <div class="col-xs-12 col-sm-5 col-md-5 col-lg-8">
        </div>
    </div>
    <section id="widget-grid">
        <div id="log-widgets" class="row">
           
        </div>
    </section>
</div>
