@using System.Security.Claims
<div class="login-info">
    <span>
        <a href="javascript:void(0);" id="show-shortcut" data-action="toggleShortcut">
            <img src="@ClaimsPrincipal.Current.Claims.First(x => x.Type == "picture").Value" alt="me" class="online" />
            <span>@ClaimsPrincipal.Current.Identity.Name</span>
            <i class="fa fa-angle-down"></i>
        </a>
    </span>
</div>