<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <extensions>
    <add assembly="NLog.Targets.GrowlNotify" />
  </extensions>
  <targets>
    <target name="file" xsi:type="File"
        fileName="logs/log.log"
        layout="${longdate}|${level:uppercase=true}|${logger}|${message}|${exception:format=Type,Message,StackTrace:innerFormat=Type,Message,StackTrace:maxInnerExceptionLevel=10:innerExceptionSeparator=\n\t}"
        maxArchiveFiles="1" archiveAboveSize="1000000" />
    <target name="dev" xsi:type="Console" />
    <target name="growl" type="GrowlNotify" host="" password="" />
  </targets>
  <rules>
    <logger name="*" minLevel="Warn" writeTo="growl" />
    <logger name="*" minlevel="Trace" writeTo="dev" />
    <logger name="Web.Infrastructure.LogEvents" minlevel="Trace" writeTo="growl" />
    <logger name="Web.DbInterceptionConfig+LoggingEFInterceptor" minlevel="Debug" final="true" enabled="true" />
    <logger name="*" minlevel="Debug" writeTo="file" />
    <logger name="Web.DbInterceptionConfig+LoggingEFInterceptor" minlevel="Debug" final="true" enabled="true" />
    <logger name="Web.AutoMapperConfig" minlevel="Off" final="true" />
    <logger name="*" minlevel="Info" writeTo="growl" />
  </rules>
</nlog>