<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <system.web>
    <customErrors mode="Off"/>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
  <appSettings>
    <add key="Domain" value="https://staging-api.monitorr.io" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="ClientDomain" value="https://staging-admin.monitorr.io" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="PopualateMockData" value="false" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="auth0:ClientId" value="2YUcbwH2ypc7LZ56HscwhJmgAy6UOeVb" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="auth0:ClientSecret" value="t4DM9qWSVBn6NlSB9rECyKGwamNSMvsL40GQNgi7gLGGUTTK0NY7M6CLOAN_lvn6" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="auth0:Domain" value="greystatsllc.auth0.com" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="environment" value="staging" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="MongoUri" value="mongodb://root:9RVikhe3DmzA@172.16.1.107:27017/ElmahBucketStaging?authSource=admin" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="elmahbucketdb" value="ElmahBucketStaging" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="hangfire:ConnectionString" value="mongodb://root:9RVikhe3DmzA@172.16.1.107:27017/EbHangfireStaging?authSource=admin" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="hangfire:DatabaseName" value="EbHangfireStaging" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="aws:fromEmail" value="support@monitorr.io"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="aws:ClientId" value="AKIAJSRXBL7GXFXT5N7Q"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="aws:SecretKey" value="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" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="aws:SesRegion" value="us-east-1"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  </appSettings>
</configuration>

