<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <system.web>
    <customErrors mode="Off"/>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
  <appSettings file="SecureSettings.Staging.config" xdt:Transform="SetAttributes">
    <add key="Domain" value="https://staging-api.monitorr.io" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="ClientDomain" value="https://staging-admin.monitorr.io" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="PopualateMockData" value="false" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="environment" value="staging" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="monitorrdb" value="MonitorrStaging" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  </appSettings>
</configuration>

