<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="Monitorr" connectionString="Data Source=localhost;Integrated Security=True;Connect Timeout=30;Initial Catalog=Monitorr;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>
  <system.web>
    <customErrors mode="Off"/>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
  <appSettings file="SecureSettings.Testing.config" xdt:Transform="SetAttributes">
    <add key="Domain" value="http://monitorrapi.201apps.com" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="PopualateMockData" value="false" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="environment" value="staging" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  </appSettings>
</configuration>

